{% extends "layout.html" %}
{% block content %}
<form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.shortdis.label(class="form-control-label") }}
                {% if form.shortdis.errors %}
                    {{ form.shortdis(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.shortdis.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.shortdis(class="form-control form-control-lg", id = 'editor') }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(style="background-color:#009970",class="btn btn-outline-info") }}
        </div>
    </form>
{% endblock content %}