{% extends "layout.html" %}
{% block content %}
<h2 style="text-align: center;"> Products</h2>
<!--a href="{{ url_for('main.adddproduct') }}" > <button class="btn btn-sm btn-success">Add product</button></a-->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Sl</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Birth Date</th>
      <th scope="col">image</th>
      <th scope="col">password</th>
      <th scope="col">Type</th>
      <th scope="col">Status</th>
      <th scope="col">Custom</th>
      <th scope="col">Custom</th>
      <th scope="col">Custom</th>

    </tr>
  </thead>
  <tbody>
    {% for post in posts %}

    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{post.username}}</td>
      <td>{{ post.email }}</td>
      <td>{{ post.birth_date }}</td>
      <td><img src="{{ url_for('static', filename='profile_pics/' + post.image_file) }}"></td>
      <td>{{post.password}}</td>
      <td>{{post.type}}</td>
      <td>{{post.status}}</td>
      <td><a href="{{url_for('main.admin_account_pending', id=post.id)}}" class="btn btn-sm btn-outline-info">pending</a></td>
      <td><button data-toggle="modal" data-target="#deleteModal-{{post.id}}" class="btn btn-sm btn-outline-danger">Delete</button></td>
      {% if post.type == 'panel' %}
        <td><a href="{{url_for('main.admin_account_admin', id=post.id)}}" class="btn btn-sm btn-outline-info">admin</a></td>
      {% elif post.type == 'admin' %}
        <td><a href="{{url_for('main.admin_account_panel', id=post.id)}}" class="btn btn-sm btn-outline-info">panel</a></td>
      {% else %}
      <td>Not applicable</td>
      {% endif %}
    </tr>
    <div class="modal fade" id="deleteModal-{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <p>Are you Sure that you want to delete this ({{ post.username }})</p>
              </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('main.admin_account_delete', id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}