{% extends "layout.html" %}
{% block content %}
<h2 style="text-align: center;"> Products</h2>
<!--a href="{{ url_for('main.adddproduct') }}" > <button class="btn btn-sm btn-success">Add product</button></a-->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Sl</th>
      <th scope="col">Name</th>
      <th scope="col">Word</th>
      <th scope="col">Date</th>
      <th scope="col">email</th>
      <th scope="col">Content</th>
      <th scope="col">Title</th>
      <th scope="col">File</th>
      <th scope="col">Status</th>
      <th scope="col">Custom</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}

    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{post.author.username}}</td>
      <td>{{ post.content.split()|length }}</td>
      <td>{{post.date_posted}}</td>
      <td>{{post.author.email}}</td>
      <td>{{post.content|safe}}</td>
      <td>{{post.title}}</td>
      <td><img src="{{ url_for('static', filename='post_pics/' + post.post_file) }}"></td>
      <td>{{post.status}}</td>
      <td><button data-toggle="modal" data-target="#deleteModal-{{post.id}}" class="btn btn-sm btn-outline-danger">Approve</button></td>
    </tr>
    <div class="modal fade" id="deleteModal-{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">approve Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <p>Are you Sure that you want to delete this ({{ post.title }})</p>
              </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('main.admin_post_approve', id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}