<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

    {% if title %}
        <title>EcoKnowMe - {{ title }}</title>
    {% else %}
        <title>EcoKnowMe</title>
    {% endif %}
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {margin:0;height:2000px;}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}
</style>

  <!-- Favicons -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <!--{{ url_for('static', filename='main.css') }}-->
  <link href="{{ url_for('static', filename='assets/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/icofont/icofont.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/venobox/venobox.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/owl.carousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/5dfb9918d5.js" crossorigin="anonymous"></script>
  <!-- =======================================================
  * Template Name: Bethany - v2.2.0
  * Template URL: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  


  <!-- ======= Header ======= -->
    <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div class="header-container d-flex align-items-center">
        <div class="logo mr-auto">
          <h1 class="text-light"><a href="{{ url_for('main.index') }}"><span>EcoKnowMe</span></a>
          <!-- Uncomment below if you prefer to use an image logo -->
           <a href="{{ url_for('main.index') }}" style="background-color: white; padding-top: 50px; padding-bottom: 30px;" ><img src="{{ url_for('static', filename='assets/img/favicon.png') }}" width="50px" height="45px" alt="" class="img-fluid"></a></h1>
        </div>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="{{ url_for('main.index') }}">Home</a></li>
            <li class="drop-down"><a href="">Services</a>
              <ul>
                <li><a href="#">Map Analysis</a></li>
                <li><a href="{{ url_for('main.index') }}">Weather Analysis</a></li>
                <li><a href="#">Automation</a></li>
              </ul>
            </li>
            
            <li class="drop-down"><a href="#">Store</a>
            <ul>
                <li><a href="#">Agricultural Products</a></li>
                <li><a href="#">Organic Urban Harvest</a>
                </ul>
            
            </li>
            <li class="drop-down"><a href="{{ url_for('main.home') }}">Community</a>
              <ul>
                <li><a href="{{ url_for('main.home') }}">Learn to Grow</a></li>
                <li><a href="{{ url_for('main.home') }}">Solution</a></li>
                <li><a href="{{ url_for('main.home') }}">Blog</a></li>
                <li><a href="{{ url_for('posts.new_post') }}">New Post</a>
                </ul>
            </li>
            <li class="drop-down"><a href="#">Contribution</a>
              <ul>
                <li><a href="#">Volunteer</a></li>
                <li><a href="#">Donate</a></li>
              </ul>
            </li>
            <li><a href="">Store</a></li>
            <li><a href="{{ url_for('main.about') }}">About Us</a></li>
            <li class="drop-down"><a href="#">Account</a>
              <ul>
            {% if current_user.is_authenticated %}
            <li><a style="background-color:#009970;color: white;" href="{{ url_for('users.logout') }}">Logout</a></li>
            <li><a style="background-color:#009970;color: white; "href="{{ url_for('users.account') }}">Profile</a></li>
            {% else %}
            <li><a style="background-color:#009970;color: white;" href="{{ url_for('users.login') }}">Signin</a></li>
            <li><a style="background-color:#009970;color: white; "href="{{ url_for('users.register') }}">Signup</a></li>
            {% endif %}
          </ul>
          </li>
          </ul>
        </nav><!-- .nav-menu -->
      </div><!-- End Header Container -->
    </div>
  </header><!-- End Header Container -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{{ title }}</h2>
          <ol>
            <li><a href="{{ url_for('main.index') }}">Home</a></li>
            <li>{{ title }}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>EcoKnowMe</h3>
            <p>
              30/1, Bagichertech<br>
              Wapda Road, West Rampura<br>
              Dhaka, BD<br><br>
              <strong>Phone:</strong> +8801552350839<br>
              <strong>Email:</strong> ecoknowmebd@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('main.index') }}">Home</a></li>
              <!--li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li-->
              <li><i class="bx bx-chevron-right"></i> <a href="#service">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('main.home') }}">Community</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('main.index') }}">Store</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('main.index') }}">Donate</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('main.index') }}">Weather analysis</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Automation</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('main.home') }}">Gardening Solution</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Store</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Volunteer</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Tell us what you suggest</h4>
            <p>We are constantly working to improve our services for the betterment of the environment</p>
            <form action="" method="post">
              <input type="email" placeholder="Email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>EcoKnowMe</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/ -->
          Designed by <a href="#t">Tanjim Zaman Khan</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/jquery.easing/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/waypoints/jquery.waypoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/counterup/counterup.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/venobox/venobox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/owl.carousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
  <!--script src="https://cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script-->
  <script src="https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script>
  <!--script type="text/javascript">
    CKEDITOR.replace('editor')

  </script-->
<script>
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
<!--Add the following script at the bottom of the web page (before </body></html>)-->
<!--script type="text/javascript">function add_chatinline(){var hccid=29128475;var nt=document.createElement("script");nt.async=true;nt.src="https://mylivechat.com/chatinline.aspx?hccid="+hccid;var ct=document.getElementsByTagName("script")[0];ct.parentNode.insertBefore(nt,ct);}
add_chatinline();</script-->
</body>

</html>
